## Pandas 百题大冲关｜题目版

---

#### 介绍

Pandas 是基于 NumPy 的一种数据处理工具，该工具为了解决数据分析任务而创建。Pandas 纳入了大量库和一些标准的数据模型，提供了高效地操作大型数据集所需的函数和方法。Pandas 百题大冲关分为基础篇和进阶篇，每部分各有 50 道练习题。基础部分的练习题在于熟悉 Pandas 常用方法的使用，而进阶部分则侧重于 Pandas 方法的组合应用。

如果你对 Pandas 的使用还不熟悉，我们建议你先学习 [<i class="fa fa-external-link-square" aria-hidden="true"> Pandas 数据处理基础课程</i>](https://www.lanqiao.cn/courses/906) 后再使用本课程进行复习和检验。

___

<div class="alert alert-info"><p>你需要先学习前一个实验内容，才能使用题目版。如果题目未给出示例数据，请自行生成示例数据后再执行题目操作。</p></div>

### 基础部分

**1. 导入 Pandas：**

练习 Pandas 之前，首先需要导入 Pandas 模块，并约定简称为 `pd`。

In [ ]:
# 在预留的空白单元格中补充代码

**2. 查看 Pandas 版本信息：**

Pandas 的数据结构：Pandas 主要有 Series（一维数组），DataFrame（二维数组），Panel（三维数组），Panel4D（四维数组），PanelND（更多维数组）等数据结构。其中 Series 和 DataFrame 应用的最为广泛。

- Series 是一维带标签的数组，它可以包含任何数据类型。包括整数，字符串，浮点数，Python 对象等。Series 可以通过标签来定位。
- DataFrame 是二维的带标签的数据结构。我们可以通过标签来定位数据。这是 NumPy 所没有的。

### 创建 Series 数据类型

Pandas 中，Series 可以被看作由 1 列数据组成的数据集。

创建 Series 语法：`s = pd.Series(data, index=index)`，可以通过多种方式进行创建，以下介绍了 3 个常用方法。

**3. 从列表创建 Series：**

In [ ]:
arr = [0, 1, 2, 3, 4]

In [ ]:
s1

**4. 从 Ndarray 创建 Series：**

In [ ]:
import numpy as np

n = np.random.randn(5)  # 创建一个随机 Ndarray 数组

In [ ]:
s2

**5. 从字典创建 Series：**

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}  # 定义示例字典

In [ ]:
s3

### Series 基本操作

**6. 修改 Series 索引：**

In [ ]:
print(s1)  # 以 s1 为例

**7. Series 纵向拼接：**

**8. Series 按指定索引删除元素：**

**9. Series 修改指定索引元素：**

**10. Series 按指定索引查找元素：**

**11. Series 切片操作：**

### Series 运算

**12. Series 加法运算：**

Series 的加法运算是按照索引计算，如果索引不同则填充为 `NaN`（空值）。

**13. Series 减法运算：**

Series的减法运算是按照索引对应计算，如果不同则填充为 `NaN`（空值）。

**14. Series 乘法运算：**

Series 的乘法运算是按照索引对应计算，如果索引不同则填充为 `NaN`（空值）。

**15. Series 除法运算：**

Series 的除法运算是按照索引对应计算，如果索引不同则填充为 `NaN`（空值）。

**16. Series 求中位数：**

**17. Series 求和：**

**18. Series 求最大值：**

**19. Series 求最小值：**

### 创建 DataFrame 数据类型

与 Sereis 不同，DataFrame 可以存在多列数据。一般情况下，DataFrame 也更加常用。

**20. 通过 NumPy 数组创建 DataFrame：**

In [ ]:
dates = pd.date_range('today', periods=6)  # 定义时间序列作为 index
num_arr = np.random.randn(6, 4)  # 传入 numpy 随机数组
columns = ['A', 'B', 'C', 'D']  # 将列表作为列名

In [ ]:
df1 =

**21. 通过字典数组创建 DataFrame：**

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df2 =

**22. 查看 DataFrame 的数据类型：**

In [ ]:
df2

### DataFrame 基本操作

**23. 预览 DataFrame 的前 5 行数据：**

此方法对快速了解陌生数据集结构十分有用。

**24. 查看 DataFrame 的后 3 行数据：**

**25.查看 DataFrame 的索引：**

**26. 查看 DataFrame 的列名：**

**27. 查看 DataFrame 的数值：**

**28. 查看 DataFrame 的统计数据：**

**29. DataFrame 转置操作：**

**30. 对 DataFrame 进行按列排序：**

**31. 对 DataFrame 数据切片：**

**32. 对 DataFrame 通过标签查询（单列）：**

**33. 对 DataFrame 通过标签查询（多列）：**

**34. 对 DataFrame 通过位置查询：**

**35. DataFrame 副本拷贝：**

In [ ]:
# 从 df2 生成 DataFrame 副本

**36. 判断 DataFrame 元素是否为空：**

**37. 添加列数据：**

In [ ]:
num = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], index=df3.index)
# 添加以 'No.' 为列名的新数据列
df3

**38. 根据 DataFrame 的下标值进行更改：**

**39. 根据 DataFrame 的标签对数据进行修改：**

**40. DataFrame 求平均值操作：**

**41. 对 DataFrame 中任意列做求和操作：**

### 字符串操作

**42. 将字符串转化为小写字母：**

In [ ]:
string = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca',
                    np.nan, 'CABA', 'dog', 'cat'])
print(string)

**43. 将字符串转化为大写字母：**

In [ ]:
string

### DataFrame 缺失值操作

**44. 对缺失值进行填充：**

In [ ]:
df4 = df3.copy()
df4

**45. 删除存在缺失值的行：**

**46. DataFrame 按指定列对齐：**

In [ ]:
left = pd.DataFrame({'key': ['foo1', 'foo2'], 'one': [1, 2]})
right = pd.DataFrame({'key': ['foo2', 'foo3'], 'two': [4, 5]})

print(left)
print(right)

# 按照 key 列对齐连接，只存在 foo2 相同，所以最后变成一行

### DataFrame 文件操作

**47. CSV 文件写入：**

In [ ]:
# df3 保存为 'animal.csv'
df3

**48. CSV 文件读取：**

In [ ]:
# 读取 'animal.csv' 文件
df_animal =

**49. Excel 写入操作：**

In [ ]:
# df3 保存为 'animal.xlsx'
df3

**50. Excel 读取操作：**

In [ ]:
# 读取 'animal.xlsx' 文件

### 进阶部分

### 时间序列索引

**51. 建立一个以 2018 年每一天为索引，值为随机数的 Series：**

In [ ]:
s =

**52. 统计`s` 中每一个周三对应值的和：**

**53. 统计`s`中每个月值的平均值：**

**54. 将 Series 中的时间进行转换（秒转分钟）：**

**55. 转换为 UTC 世界时间标准：**

**56. 转换为上海所在时区：**

**57.不同时间表示方式的转换：**

### Series 多重索引

**58. 创建多重索引 Series：**

构建一个 `letters = ['A', 'B', 'C']` 和 `numbers = list(range(10))`为索引，值为随机数的多重索引 Series。

In [ ]:
s =

**59. 多重索引 Series 查询：**

**60. 多重索引 Series 切片：**

### DataFrame 多重索引

**61. 根据多重索引创建 DataFrame：**

创建一个以 `letters = ['A', 'B']` 和 `numbers = list(range(6))`为索引，值为随机数据的多重索引 DataFrame。

In [ ]:
frame =

**62. 多重索引设置列名称：**

**63. DataFrame 多重索引分组求和：**

**64. DataFrame 行列名称转换：**

**65. DataFrame 索引转换：**

**66. DataFrame 条件查找：**

In [ ]:
# 示例数据
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

查找 `age` 大于 `3` 的全部信息

**67. 根据行列索引切片：**

**68. DataFrame 多重条件查询：**

查找 `age<3` 且为 `cat` 的全部数据。

**69. DataFrame 按关键字查询：**

**70. DataFrame 按标签及列名查询：**

**71. DataFrame 多条件排序：**

按照 `age` 降序，`visits` 升序排列

**72.DataFrame 多值替换：**

将 `priority` 列的 `yes` 值替换为 `True`，`no` 值替换为 `False`。

**73. DataFrame 分组求和：**

**74. 使用列表拼接多个 DataFrame：**

In [ ]:
temp_df1 = pd.DataFrame(np.random.randn(5, 4))  # 生成由随机数组成的 DataFrame 1
temp_df2 = pd.DataFrame(np.random.randn(5, 4))  # 生成由随机数组成的 DataFrame 2
temp_df3 = pd.DataFrame(np.random.randn(5, 4))  # 生成由随机数组成的 DataFrame 3

**75. 找出 DataFrame 表中和最小的列：**

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

In [ ]:
df

**76. DataFrame 中每个元素减去每一行的平均值：**

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 3)))

In [ ]:
df

**77. DataFrame 分组，并得到每一组中最大三个数之和：**

In [ ]:
df = pd.DataFrame({'A': list('aaabbcaabcccbbc'),
                   'B': [12, 345, 3, 1, 45, 14, 4, 52, 54, 23, 235, 21, 57, 3, 87]})

In [ ]:
df

### 透视表

当分析庞大的数据时，为了更好的发掘数据特征之间的关系，且不破坏原数据，就可以利用透视表 `pivot_table` 进行操作。

**78. 透视表的创建：**

新建表将 `A, B, C` 列作为索引进行聚合。

In [ ]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})

In [ ]:
df

**79. 透视表按指定行进行聚合：**

将该 DataFrame 的 `D` 列聚合，按照 `A,B` 列为索引进行聚合，聚合的方式为默认求均值。

**80. 透视表聚合方式定义：**

上一题中 `D` 列聚合时，采用默认求均值的方法，若想使用更多的方式可以在 `aggfunc` 中实现。

**81. 透视表利用额外列进行辅助分割：**

`D` 列按照 `A,B` 列进行聚合时，若关心 `C` 列对 `D` 列的影响，可以加入 `columns` 值进行分析。

**82. 透视表的缺省值处理：**

在透视表中由于不同的聚合方式，相应缺少的组合将为缺省值，可以加入 `fill_value` 对缺省值处理。

### 绝对类型

在数据的形式上主要包括数量型和性质型，数量型表示着数据可数范围可变，而性质型表示范围已经确定不可改变，绝对型数据就是性质型数据的一种。

**83. 绝对型数据定义：**

In [ ]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6], "raw_grade": [
                  'a', 'b', 'b', 'a', 'a', 'e']})

In [ ]:
df

**84. 对绝对型数据重命名：**

**85. 重新排列绝对型数据并补充相应的缺省值：**

**86. 对绝对型数据进行排序：**

**87. 对绝对型数据进行分组：**

### 数据清洗

常常我们得到的数据是不符合我们最终处理的数据要求，包括许多缺省值以及坏的数据，需要我们对数据进行清洗。

**88. 缺失值拟合：**

在`FilghtNumber`中有数值缺失，其中数值为按 10 增长，补充相应的缺省值使得数据完整，并让数据为 `int` 类型。

In [ ]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                               'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                               '12. Air France', '"Swiss Air"']})

In [ ]:
df

**89. 数据列拆分：**

其中`From_to`应该为两独立的两列`From`和`To`，将`From_to`依照`_`拆分为独立两列建立为一个新表。

**90. 字符标准化：**

其中注意到地点的名字都不规范（如：`londON`应该为`London`）需要对数据进行标准化处理。

**91. 删除坏数据加入整理好的数据：**

将最开始的 `From_to` 列删除，加入整理好的 `From` 和 `to` 列。

**92. 去除多余字符：**

如同 `airline` 列中许多数据有许多其他字符，会对后期的数据分析有较大影响，需要对这类数据进行修正。

**93. 格式规范：**

在 `RecentDelays` 中记录的方式为列表类型，由于其长度不一，这会为后期数据分析造成很大麻烦。这里将 `RecentDelays` 的列表拆开，取出列表中的相同位置元素作为一列，若为空值即用 `NaN` 代替。

### 数据预处理

**94. 信息区间划分：**

班级一部分同学的数学成绩表，如下图所示

```python
df=pd.DataFrame({'name':['Alice','Bob','Candy','Dany','Ella','Frank','Grace','Jenny'],'grades':[58,83,79,65,93,45,61,88]})
```

但我们更加关心的是该同学是否及格，将该数学成绩按照是否`>60`来进行划分。

**95. 数据去重：**

一个列为`A`的 DataFrame 数据，如下图所示

```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

尝试将 A 列中连续重复的数据清除。

**96. 数据归一化：**

有时候，DataFrame 中不同列之间的数据差距太大，需要对其进行归一化处理。

其中，Max-Min 归一化是简单而常见的一种方式，公式如下:

$$Y=\frac{X-X_{min}}{X_{max}-X_{min}}$$

### Pandas 绘图操作

为了更好的了解数据包含的信息，最直观的方法就是将其绘制成图。

**97. Series 可视化：**

**98. DataFrame 折线图：**

**99. DataFrame 散点图：**

**100. DataFrame 柱形图：**